.sprite-cthulusboon {
     background: url(boons.png);
     display: inline-block;
     height: 340px;
     width: 283px;
     background-position: -0px -0px;
 }
 .sprite-nyasboon {
     background: url(boons.png);
     display: inline-block;
     height: 340px;
     width: 283px;
     background-position: -283px -0px;
 }
 .sprite-shubsboon {
     background: url(boons.png);
     display: inline-block;
     height: 340px;
     width: 283px;
     background-position: -566px -0px;
 }
 .sprite-sigilgreed {
     background: url(boons.png);
     display: inline-block;
     height: 340px;
     width: 283px;
     background-position: -0px -340px;
 }
 .sprite-ykfavor {
     background: url(boons.png);
     display: inline-block;
     height: 340px;
     width: 283px;
     background-position: -283px -340px;
 }
 