.sprite-eyeofsleep {
     background: url('./items.png');
     display: inline-block;
     height: 340px;
     width: 283px;
     background-position: -0px -0px;
 }
 .sprite-forbiddenknowl {
     background: url('./items.png');
     display: inline-block;
     height: 340px;
     width: 283px;
     background-position: -283px -0px;
 }
 .sprite-madhand {
     background: url('./items.png');
     display: inline-block;
     height: 340px;
     width: 283px;
     background-position: -566px -0px;
 }
 .sprite-repairedreputation {
     background: url('./items.png');
     display: inline-block;
     height: 340px;
     width: 283px;
     background-position: -0px -340px;
 }
 .sprite-whiseroutergods {
     background: url('./items.png');
     display: inline-block;
     height: 340px;
     width: 283px;
     background-position: -283px -340px;
 }
