.sprite-1 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 200px;
     width: 200px;
     background-position: -0px -0px;
 }
 .sprite-10 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 200px;
     width: 200px;
     background-position: -200px -0px;
 }
 .sprite-100 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 200px;
     width: 200px;
     background-position: -400px -0px;
 }
 .sprite-25 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 200px;
     width: 200px;
     background-position: -0px -200px;
 }
 .sprite-5 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 200px;
     width: 200px;
     background-position: -200px -200px;
 }